/**
 * @file style.css
 */

/* Commons */

html,
body {
  background-color: #000;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Sansita One', cursive;
  overflow: hidden;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.unselectable {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  cursor: pointer;
}

/* Sweet Alert overrides */

@media screen and (max-width: 500px) {

  .sweet-alert.visible {
    max-width: 90%;
    left: 0 !important;
    margin-left: 5% !important;
  }

}

.sweet-alert h2 {
  color: #333;
  font-weight: normal;
  font-family: 'Sansita One', cursive;  
}

.sweet-content {
  font-family: sans-serif;
  color: #555;
  font-size: 0.866em;
}

/* Helper classes */

.hidden {
  display: none;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

/* Loading screen screen */

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.loading-screen .content {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1;
  width: 100%;
}

.loading-screen img {
  display: block;
  width: 100%;
  max-width: 175px;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}

.loading-screen p {
  margin: 0;
  margin-bottom: 30px;
}

/* Main screen screen */

.main-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.main-screen img {
  display: block;
  width: 100%;
  max-width: 241px;
  margin: 0 auto;
  padding: 80px 0px 10px 0px;
}

.main-screen .start-game {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-screen .start-game button {
  width: 80%;
  max-width: 200px;
  display: block;
  border: 1px solid #FFA500;
  border-bottom: 3px solid #FFA500;
  background-color: #FF0;
  color: #FFA500;
  border-radius: 10px;
  padding: 8px 24px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 40px auto;
  font-family: 'Sansita One', cursive;
}

.main-screen .play-audio {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

/* Game screen */

.game-screen {
  background-image: url(../img/green-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 100%;
  height: 100%;
}

#target-word {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: auto;
  background-color: #366DC5;
  box-shadow: 0px 4px 5px #333;
  padding: 2% 2%;
}

#target-word .char {
  background: #FFF;
  background: -moz-linear-gradient(top, #ffffff 50%, #dddddd 100%);
  background: -webkit-linear-gradient(top, #FFF 50%,#DDD 100%);
  background: linear-gradient(to bottom, #FFF 50%,#DDD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  width: 10%;
  height: 0;
  border-right: 1px solid #C1C1C1;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 6vw;
  color: #444;
  border-bottom: 2px solid #C1C1C1;
  border-radius: 5px;
  padding-top: 10%;
  position: relative;
  box-shadow: 0px 1px 5px #333;
  top: 1px;
}

#target-word .char.set {
  background: #ff1e2d;
  background: -moz-linear-gradient(top,  #ff1e2d 25%, #720001 100%);
  background: -webkit-linear-gradient(top,  #ff1e2d 25%,#720001 100%);
  background: linear-gradient(to bottom,  #ff1e2d 25%,#720001 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e2d', endColorstr='#720001',GradientType=0 );
  border-right: 1px solid #520001;
  border-bottom: 2px solid #520001;
  color: #FFC700;
}

#target-word .char.set.complete {
  background: #33e81b;
  background: -moz-linear-gradient(top,  #33e81b 25%, #0d7200 100%);
  background: -webkit-linear-gradient(top,  #33e81b 25%,#0d7200 100%);
  background: linear-gradient(to bottom,  #33e81b 25%,#0d7200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33e81b', endColorstr='#0d7200',GradientType=0 );
  border-right: 1px solid #520001;
  border-bottom: 2px solid #520001;
  color: #FFC700;
}

#target-word .char span {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  line-height: 0%;
  height: 100%
} 

#letters-area {
  height: 80%;
  position: absolute;
  top: 11%;
  left: 2%;
  width: 96%;
/*  
  height: 75%;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
*/
}

.letter-container {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 50%, #dddddd 100%);
  background: -webkit-linear-gradient(top,  #ffffff 50%,#dddddd 100%);
  background: linear-gradient(to bottom,  #ffffff 50%,#dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  width: 10%;
  position: absolute;
  height: 0;
  padding-top: 10%;
  border: 1px solid #444;
  box-shadow: 0px 0px 10px #444;
  border-radius: 6px;
  cursor: pointer;
}

.letter {
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center;
  width: 100%;
  line-height: 9vw;
  height: 100%;
  font-size: 6vw;
  border: 1px solid #C1C1C1;
  border-bottom: 2px solid #C1C1C1;
  border-radius: 6px;
  color: #111;
}

.letter-container:hover,
.letter-container:active {
  background: #ff1e2d;
  background: -moz-linear-gradient(top,  #ff1e2d 25%, #720001 100%);
  background: -webkit-linear-gradient(top,  #ff1e2d 25%,#720001 100%);
  background: linear-gradient(to bottom,  #ff1e2d 25%,#720001 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e2d', endColorstr='#720001',GradientType=0 );
  box-shadow: 0px 0px 10px #000;
  /*border-radius: 6px;
  border: 1px solid #282828;*/
}

.letter-container:hover .letter,
.letter-container:active .letter {
  border: 1px solid #520001;
  border-bottom: 2px solid #520001;
  border-radius: 5px;
  color: #fff;
}

#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: auto;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 50%, #dddddd 100%);
  background: -webkit-linear-gradient(top,  #ffffff 50%,#dddddd 100%);
  background: linear-gradient(to bottom,  #ffffff 50%,#dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  box-shadow: 0px -4px 5px #333;
}

#toolbar span {
  float: left;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.125em;
  color: #111;
  text-align: center;
  font-family: 'Sansita One', cursive;
}

#toolbar .level {
  width: 20%;
  position: relative;
}

#toolbar .score {
  width: 30%;
  position: relative;
}

#toolbar .time {
  width: 30%;
  position: relative;
}

#toolbar .restart {
  width: 10%;
  position: relative;
  padding: 11px 10px;
}

#toolbar .options {
  width: 10%;
  position: relative;
  padding: 11px 10px;
}

#toolbar span span {
  float: left;
  padding-left: 24px;
}

#toolbar .level i {
  color: crimson;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

#toolbar .score i {
  color: goldenrod;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

#toolbar .time i {
  color: indigo;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}

#toolbar .options  {
  cursor: pointer;
}